<h1>Ventas</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Cliente</th>
			<th scope="col">Importe total</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of dataTable">
			<td>{{ item.fecha | date }}</td>
			<td>{{ item.cliente.nombre  }}</td>
            <td>{{ item.importe_total  }}</td>
			<td>

				<button type="button" class="btn btn-outline-info" style="border-style: hidden;"(click)="show(content,item)"><i class="bi bi-info-circle-fill"></i></button>
				<button type="button" class="btn btn-outline-danger" style="border-style: hidden;"(click)="delete(item)"><i class="bi bi-trash3-fill"></i></button>
					
			</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refresh()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
		<option [ngValue]="5">5 items per page</option>
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="15">15 items per page</option>
	</select>
</div>

<ng-template #content let-modal>
	<modal-venta [modal]="modal"></modal-venta>
</ng-template>
